<a href="https://colab.research.google.com/github/Clinton-Nyaore/Clinton-Nyaore/blob/main/Titanic_Sklearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

train_data = pd.read_csv('/content/drive/MyDrive/Data/titanic/train.csv')
test_data = pd.read_csv('/content/drive/MyDrive/Data/titanic/test.csv')
test_ids = test_data['PassengerId']

In [ ]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
def clean(data):
    data = data.drop(["Ticket", "PassengerId", "Name", "Cabin"], axis=1)
    
    cols = ["SibSp", "Parch", "Fare", "Age"]
    for col in cols:
        data[col].fillna(data[col].median(), inplace=True)
        
    data.Embarked.fillna("U", inplace=True)
    return data

train_data = clean(train_data)
test_data = clean(test_data)

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
columns = ["Sex", "Embarked"]

for col in columns:
    train_data[col] = le.fit_transform(train_data[col])
    test_data[col] = le.transform(test_data[col])

In [ ]:
y = train_data['Survived']
X = train_data.drop('Survived', axis=1)

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(random_state=1)
model.fit(X_train, y_train)

from sklearn.metrics import accuracy_score
print('Train Accuracy', accuracy_score(y_train, model.predict(X_train)))
print('Test Accuracy', accuracy_score(y_test, model.predict(X_test)))

Train Accuracy 0.9817415730337079
Test Accuracy 0.8379888268156425

In [ ]:
submission_preds = model.predict(test_data)

In [ ]:
df = pd.DataFrame({"PassengerId": test_ids.values,
                   "Survived": submission_preds,
                  })

In [ ]:
df.to_csv("submission.csv", index=False)